@model ETicaret.Core.Model.Entity.Order
@{
                /**/

                ViewBag.Title = "Sipariş Detayı";
}

<h2>@Model.ID nolu siparişinizin durumu : @Model.Status.Name</h2>
<hr />
<b>Banka Bilgileri</b>
<table>
    <tr>
        <td>Banka</td>
        <td>Banka İsmi</td>
    </tr>
    <tr>
        <td>İban</td>
        <td>TR034325323452</td>
    </tr>
    @*<tr>
        <td>Alıcı Adı</td>
        <td>Firma Bilgileri</td>
    </tr>*@
</table>
@{
    if (Model.StatusID == 1)
    {
        <a href="/Order/Pay?id=@Model.ID" class="btn btn-success">Ödeme Yaptım</a>
    }
}

<hr />
<b>Sipariş Bilgileri</b>
<table>
    <tr>
        <td>Toplam</td>
        <td>@Model.TotalPrice.ToString("##,## TL")</td>
    </tr>
    <tr>
        <td>Ürünler Toplamı</td>
        <td>@Model.TotalProductPrice.ToString("##,## TL")</td>
    </tr>
    <tr>
        <td>İndirim Toplamı</td>
        <td>@Model.TotalDiscount.ToString("##,## TL")</td>
    </tr>
    <tr>
        <td>Vergi Toplamı</td>
        <td>@Model.TotalTaxPrice.ToString("##,## TL")</td>
    </tr>
</table>
<hr />
<b>Ürünler</b>
<table>
    <tr>
        <th>Ürün</th>
        <th>Adet</th>
    </tr>

    @{ foreach (var item in Model.OrderProducts)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Quantity</td>
            </tr>

        }
    }

</table>
<hr />
<b>Alıcı Adres Bilgileri</b>
<table>
    <tr>
        <td>Adres Adı : </td>
        <td>@Model.UserAddress.Title</td>
    </tr>
    <tr>
        <td>Şehir : </td>
        <td>@Model.UserAddress.City</td>
    </tr>
    <tr>
        <td>Adres : </td>
        <td>@Model.UserAddress.Address</td>
    </tr>
</table>
